<div class="jumbotron text-center bg-light">
  <h1 class="display-4">Discover Our User Management Journey</h1>
  <hr class="my-4">
  <img src="img/about.jpeg" alt="Laptop" class="img-fluid rounded-circle shadow-lg border border-primary" style="width: 250px; height: 250px; object-fit: cover;">
  <p class="lead text-muted mt-3">Mochammad Rizky Ramadhani</p>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <p class="lead">🚀 Welcome to <strong class="text-primary">CustSnap</strong>, where innovation meets simplicity! 🌟</p>
      <p class="lead">Our User Management System is more than just a tool; it's a journey towards efficient and delightful user interactions. Crafted with passion and commitment, we proudly offer:</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Efficiency:</strong> Seamlessly manage customer data with our quick and efficient system.</li>
        <li class="list-group-item"><strong>Intuitive Design:</strong> Navigate effortlessly through our user-friendly and visually appealing interface.</li>
        <li class="list-group-item"><strong>Commitment to Excellence:</strong> We are dedicated to providing the best user experience, constantly refining and enhancing our system.</li>
      </ul>
      <p class="lead mt-4">But that's not all! Our journey is shared on our <a href="https://github.com/Mokyra18" target="_blank" class="text-primary">GitHub</a>, where we delve into the intricacies of building this system. Follow us and be part of shaping the future of user management.</p>
      <p class="lead">Embark on this exciting journey with us and revolutionize the way you manage user data. Let's build something extraordinary together! 🚀✨</p>
    </div>
  </div>
</div>
